* {
    margin: 0;
    padding: 0;
}

.navbar-custom {
    color: #FFF;
    background-color: #000;
}

.content {
    margin-top: 10vh;
    text-align: center;
}

.no-oficial {
    margin-top: 10vh;
    background-color: #000;
    color: #fff;
    padding: 10vh;
    text-align: center;
}

.image-margin {
    margin-bottom: 2vh;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}